@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(241, 245, 241);
}
.upload{
    transition: all 0.5s;
}
.upload:hover{
    background-color: rgb(21, 128, 61);
    color: white;
    transition: all 0.5s;
}
